.validation-error {
    padding-left: 12px;
    height: 22px;
    padding-top: 4px;
    display: flex;
    align-items: center;
  
    .material-icons {
      font-size: 20px;
      color: #c54644;
    }
  
    .error-message {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
      line-height: 14px;
      margin-left: 4px;
      text-align: left;
      color: #939699;
    }
}